<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskScheduler.Properties.Settings>
            <setting name="SchedulingAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxTaskWeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxIncomingInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VariationInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VariationColumnCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RagardOnlyCompletedTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeEventList" serializeAs="String">
                <value>True</value>
            </setting>
        </TaskScheduler.Properties.Settings>
    </userSettings>
</configuration>