/*--- Podolsky Sergey KV-64 ---*/
.chapter_p 
{
	text-decoration: none;
	font-family:Arial;
	font-size:14;
	color:#0000FF;
	cursor:pointer;
}

.chapter_a
{
	text-decoration: none;
	font-family:Arial;
	font-size:14;
	color: Red;
	cursor:pointer;
}

.chapter_s
{
	text-decoration: none;
	font-family:Arial;
	font-size:14;
	font-weight:bold;
	color: Black;
	cursor:default;
}

.submenu
{
	margin-left:15;
}

.item_p
{
	text-decoration: none;
	font-family:Arial;
	font-size:12;
	color:#0000FF;
	cursor:pointer;
}

.item_a
{
	text-decoration: none;
	font-family:Arial;
	font-size:12;
	color:Red;
	cursor:pointer;
}

.item_s
{
	text-decoration: none;
	font-family:Arial;
	font-size:12;
	font-weight:bold;
	color:Black;
	cursor:default;
}