/*--- Podolsky Sergey KV-64 ---*/
ul
{
	font-family:Vernada, Arial;
	margin-bottom: 10;
}

li
{
	margin-bottom:7;
}

ul.circle
{
	list-style-type:circle;
}

ul.disc
{
	list-style-type:disc;
}

.h1
{
	font-family:Verdana, Arial;
	font-size:150%;
	font-weight:bold;
	color:Navy;
	text-align:center;
	margin-bottom: 14;
}

.h2
{
	font-family:Arial;
	font-size:100%;
	font-weight:bold;
	color:Navy;
	text-align:left;
	margin-bottom: 14;
}


.h3
{
	font-family:Arial;
	font-size:80%;
	font-weight:bold;
	color:Navy;
	text-align:center;
	margin-bottom: 14;
}


.parag
{
	font-family:Vernada, Arial;
	margin-bottom: 10;
}

.remark_h
{
	font-family:Vernada, Arial;
	font-style:italic;
	color:#000060;
	margin-bottom: 5;
}

.remark
{
	font-family:Vernada, Arial;
	margin-bottom: 10;
	margin-left: 50;
}

.refh
{
	margin-bottom: 5;
	text-align: center;
	left:50%;
}

.refl
{
	
	margin-right: 50;
}

.refp
{
	text-decoration: none;
	color: #0000FF;
}

.refa
{
	text-decoration: none;
	color: Red;
}

.codeblock
{
	margin-top: 5;
	margin-bottom: 5;
	font-family:Courier;
	color:Gray;
}

.code
{
	font-family: Courier;
	color:Gray;
}

.note
{
	width: 90%;
	margin-left: 5%;
	margin-top: 10;
	margin-bottom: 15;
}

.notetable
{
	display:inherit;
	border-color: #E0E0E0;
	border-width: 1;
	border-style: solid;
}

.footnote
{
	font-size: 80%;
	color: Gray;
	margin-top: 10;
	margin-bottom: 10;
}

.footnoteref
{
	 vertical-align: super;
	 font-size: 70%;
}